body {
    // gradient background
    background-color: $background-color2;
    background-image: linear-gradient(
        30deg,
        $background-color2 0%,
        $background-color 100%
    );
    background-attachment: fixed;

    #App {
        position: relative;
        >.content {
            display: flex;
            max-width: 1300px;
            padding: 0 50px;
            margin: 0 auto;
            gap: 4rem;
        }
        #Theme {
            bottom: 2rem;
            right: 2rem;
            position: fixed;
            display: flex;
            gap: 1rem;
            z-index: 2;
            .theme-button {
                $theme-button-dimension: 25px;
                width: $theme-button-dimension;
                height: $theme-button-dimension;
                border-radius: 100px;
                border: 2px solid #e5e5e5;
                position: relative;
                &::before {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    width: $theme-button-dimension;
                    height: $theme-button-dimension;
                    border-radius: 100px;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    background: red;
                }
                &:not(:hover) {
                    &::before {
                        filter: saturate(0);
                    }
                }
                &:hover {
                    cursor: pointer;
                }
                &.default::before {
                    background: #31473a;
                }
                &.red::before {
                    background: #b85042;
                }
                &.blue::before {
                    background: #375E97;
                }
                &.blue2::before {
                    background: #1995AD;
                }
                &.brown::before {
                    background: #46211A;
                }
                &.blue3::before {
                    background: #2A3132;
                }
            }
        }
    }
}
// html[data-theme='default'] body {
//     background-color: $background-color2;
//     background-image: linear-gradient(
//         45deg,
//         $background-color2 0%,
//         $background-color 100%
//     );
//     background-attachment: fixed;
// }
