#Experience.section {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    $timeline-offset: 1rem;
    min-height: 0;
    .timeline {
        position: absolute;
        width: 2px;
        height: 100%;
        background: $text-color-alt;
        margin-top: 5.3rem;
        margin-left: $timeline-offset;
    }
    .experiences {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .experience-container {
            border: 1px solid transparent;
            position: relative;
            padding: 1rem;
            $margin-left: 3rem;
            margin-left: $margin-left;
            display: flex;
            gap: 3rem;
            .date {
                text-transform: uppercase;
                letter-spacing: -0px;
                font-weight: 700;
                font-size: $font-size-small;
                color: $text-color-alt;
                min-width: fit-content;
            }
            &:hover {
                .background {
                    background-color: $text-color-alt;
                }
            }
            .background {
                border-radius: 5px;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                opacity: 10%;
            }
            &::before {
                content: '';
                position: absolute;
                left: calc($timeline-offset - $margin-left);
                top: 1.3rem;
                width: 10px;
                height: 10px;
                background: $text-color-alt;
                border-radius: 100%;
                transform: translateX(-50%);
            }
        }
    }
}
