#List {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 50%;
    padding-bottom: 10rem;
    > .section {
        overflow-x: hidden;
        padding-top: 10rem;
        h3 {
            $yoffset: 3rem;
            padding: 0 1rem;
            width: fit-content;
            margin-left: $yoffset;
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-weight: 700;
            font-size: $font-size-smallish;
            letter-spacing: 1.2px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: $yoffset;
                height: 100%;
                border-top: 2px solid $text-color-alt;
                left: -$yoffset;
                transform: translate(0%, 50%);
                z-index: -1;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100rem;
                height: 100%;
                left: 100%;
                border-top: 2px solid $text-color-alt;
                transform: translate(0%, 50%);
                z-index: -1;
            }
        }
        p {
            color: $text-color-alt;
        }
    }
    #About {
        p {
            margin-top: 2rem;
            font-size: $font-size-normal;
        }
    }
    p.quote {
        font-size: $font-size-normal;
        line-height: 1.15;
        color: $text-color-alt;
        max-width: 500px;
        .quote-desc {
            font-size: $font-size-small;
            font-weight: 600;
            // letter-spacing: -0.25px;
            // text-transform: uppercase;
            // color: $text-color-alt;
        }
    }
}
