#Nav {
    position: relative;
    .scroll-tip {
        display: none;
        position: absolute;
        transform: translate(50%, -50%) rotate(-90deg) translate(0%, 50%);
        right: 0;
        top: 50%;
        animation-name: scroll-tip;
        animation-duration: 0.4s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        span {
            font-weight: 600;
            font-size: $font-size-small;
            letter-spacing: 1px;
        }
        @keyframes scroll-tip {
            0%   {top: 45%;}
            100% {top: 55%;}
        }
    }
    ul {
        a {
            display: inline-flex;
            align-items: center;
            padding:1rem 5rem 1rem 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: $font-size-small;
            letter-spacing: 1.2px;
            color: $text-color-alt;
            &:hover,
            &.active {
                color: $text-color;
                .line {
                    background: $text-color;
                    width: 50px;
                }
            }
            .line {
                background: $text-color-alt;
                height: 2px;
                width: 30px;
                margin-right: 1rem;
                transition: width 0.2s ease;
            }
        }
    }
}
