#Projects {
    display: flex;
    flex-direction: column;
    .projects {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .project-container {
            position: relative;
            padding: 2rem;
            display: flex;
            gap: 3rem;
            .image {
                margin-top: 4px;
                $img-dimension: 150px;
                min-width: $img-dimension;
                width: $img-dimension;
                height: $img-dimension;
                border: 3px solid $faded-black;
                border-radius: 5px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.2s ease;
                }
            }
            .card-right {
                position: relative;
                .title {
                    letter-spacing: 1px;
                    font-size: $font-size-normal;
                    font-weight: 700;
                }
                .description {
                    margin-top: 1rem;
                    font-size: $font-size-smallish;
                    color: $text-color-alt;
                }
                .techs {
                    display: flex;
                    gap: 1rem;
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;

                    .tech {
                        font-size: $font-size-small;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 0.3px;
                        padding: 4px 6px;
                        background: $text-color;
                        color: $background-color;
                        border-radius: 4px;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                .background {
                    background-color: $text-color-alt;
                    border-color: $text-color;
                }
                .image {
                    border-color: $faded-white;
                }
            }
            &:not(:hover) {
                .image img {
                    filter: saturate(0) opacity(40%) contrast(120%);
                }
            }
            .background {
                border-radius: 5px;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                opacity: 10%;
                border-bottom: 2px solid transparent;
                border-right: 1px solid transparent;
            }
        }
        .projects-link {
            padding: 0 2rem;
            color: $text-color-alt;
            svg path {
                stroke: $text-color-alt;
            }
            &:hover {
                color: $text-color;
                svg path {
                    stroke: $text-color;
                }
            }
        }
    }
}
