#Projects {
    display: flex;
    flex-direction: column;
    .projects {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .project-container {
            position: relative;
            padding: 2rem;
            display: flex;
            gap: 3rem;
            .image {
                width: fit-content;
                margin-top: 4px;
                img {
                    border: 3px solid $faded-black;
                    border-radius: 5px;
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .card-right {
                position: relative;
                .title {
                    letter-spacing: 1px;
                    font-size: $font-size-normal;
                    font-weight: 700;
                }
                .description {
                    margin-top: 1rem;
                    font-size: $font-size-smallish;
                    color: $text-color-alt;
                }
                .techs {
                    display: flex;
                    gap: 1rem;
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;

                    .tech {
                        font-size: $font-size-small;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 0.3px;
                        padding: 4px 6px;
                        background: $text-color;
                        color: $background-color;
                        border-radius: 4px;
                    }
                }
            }
            &:hover {
                .background {
                    background-color: $text-color-alt;
                }
                .image img{
                    border-color: $faded-white;
                }
            }
            &:not(:hover) {
                .image img {
                    filter: saturate(0);
                }
            }
            .background {
                border-radius: 5px;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                opacity: 10%;
            }
        }
    }
}