$text-color: #edf4f2;
$text-color-alt: #a7beae;
$background-color: #31473a;

$special-color: $text-color;
$special-color2: #950705;

$alert-color: #f34f56;
$warning-color: #fac537;
$good-color: #3aea49;

$font-size-mega: 4.6rem;
$font-size-largest: 4rem;
$font-size-larger: 3rem;
$font-size-large: 2.5rem;
$font-size-largish: 2rem;
$font-size-normal: 1.6rem;
$font-size-smallish: 1.4rem;
$font-size-small: 1.2rem;
$font-size-smaller: 1rem;
$font-size-smallest: 0.8rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // font-size: 62.5%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    div,
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    input,
    button,
    label,
    li,
    textarea {
        color: $text-color;
        font-weight: 400;
        font-size: $font-size-normal;
        text-decoration: none;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    //     'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    //     'Helvetica Neue', sans-serif;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul {
    list-style: none;
}
